
<nav class="navbar fixed-top" style="background-color: white; color: black; border-bottom: 1px solid lightblue;">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" style="color: gray; font-size: 20px;"><img src="../../assets/zignex_logo.png" placeholeder="Zignex" style="height:30px; width: auto; border:1px; border-radius: 3px; background-color: lightgray; padding: 0px; margin-right: 20px;">Route</a>
    </li>
  </ul>

<a><img src="../../assets/APPS.png" style="height:30px; width: auto; padding: 0px; margin-right: 20px;"></a>
<!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Dropdown link
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div> -->
<a><img src="../../assets/Admin.JPG" style="height:30px; width: auto; padding: 0px;"></a>

</nav>