.navbar {  
    height: 60px;
}

.navbar-nav li {
    padding-right : 2rem;
}

.active a {
    border-bottom: 2px solid white;
}

div{
    color: black;
}

a{
    color: white;
    cursor: pointer;
}


 
