.example-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  mat-sidenav {
    width: 400px;
    position: fixed;
  }  

  .toggle{
    position: fixed;
    top: 100px;
    cursor: pointer;
  }

  .bottomComp{
    position: fixed;
    bottom: 0;
  }
  #btn{
    height: 40px;
  }
  .no-gutter {
    margin-left: 0;
    margin-right: 0;
  }

  .hideAll{
    /* position: fixed;
    bottom: 50px;
    border: 0.5px solid black;
    border-radius: 5px;
    width: 90px;
    text-align: center; */
    display: flex;
    justify-content: center;
    /* border: 0.5px solid black; */
    /* border-radius: 5px; */
    /* align-items: center; */
    height: 200px;
    width: 400px;
  }
  
  .hideAllButton{
    border: 0.5px solid black;
    border-radius: 12px;
    padding: 0px;
    width: 100px;
    height: 35px;
    margin-top: 100px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center
  }

  .hiddenForm{
    position: fixed;
    top: 70px;
    cursor: pointer;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 360px;
    margin-left: 20px;
  }
  .hiddenSearchButton, .hiddenSearchInput{
    border: none;
    text-align: center;
    background-color: white;
  }
  
  .hiddenSearchButton{
    width: 15%;
  }
  .hiddenSearchInput{
    width: 70%;
  }
  input:focus, button:focus{
    outline: none;
  }