
<mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over" [(opened)]="opened" hasBackDrop='true'>
                     <app-tree-view></app-tree-view>
                     <!-- <p><button (click)="toggleSideNav()" style="height: 70px; width: 20px; font-size: 15px;text-align:center;padding: 0px; background-color: gray;">{{opened?'<':'>'}}</button></p> -->
        </mat-sidenav>
        <div class="example-sidenav-content">
          <p><button (click)="toggleSideNav()" style="height: 70px; width: 20px; font-size: 15px;text-align:center;padding: 0px; background-color: gray;">{{opened?'<':'>'}}</button></p>
          <router-outlet></router-outlet>
        </div>
</mat-sidenav-container>