<mat-sidenav-container class="example-container" hasBackdrop="false">
  <div *ngIf="hidden">
    <form class="hiddenForm">
      <button class="hiddenSearchButton">
        <img src="../../assets/3lines.JPG" style="border: none" />
      </button>
      <input class="hiddenSearchInput" placeholder="Search here" />
      <button class="hiddenSearchButton">
        <img src="../../assets/searchbar_icon.png" style="border: none" />
      </button>
    </form>
    <button
      class="hiddenForm"
      style="margin-top: 40px; color: gray"
      (click)="toggleHidden()"
    >
      <img src="../../assets/Down.JPG" style="border: none" />Click here to see
      details
    </button>
  </div>
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
    hasBackDrop="true"
    disableClose="false"
  >
    <app-tree-view></app-tree-view>
    <div style="background-color: lightgray; height: 250px">
      <div class="hideAll">
        <div
          style="
            background-color: white;
            width: 100%;
            margin: 0;
            height: 60px;
            margin-top: 10px;
            padding: 3px;
          "
        >
          <div class="row">
            <div class="col-2">
              <button class="btn">
                <img id="btn" src="../../assets/Load.JPG" />
              </button>
            </div>
            <div class="col-2">
              <button class="btn">
                <img id="btn" src="../../assets/OD.JPG" />
              </button>
            </div>
            <div class="col-2">
              <button class="btn">
                <img id="btn" src="../../assets/Find1.JPG" />
              </button>
            </div>
            <div class="col-2">
              <button class="btn">
                <img id="btn" src="../../assets/Sequence.JPG" />
              </button>
            </div>
            <div class="col-2">
              <button class="btn">
                <img id="btn" src="../../assets/Statistics.JPG" />
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4" *ngIf="!hidden">
              <button class="btn hideAllButton" (click)="toggleHidden()">^ Hide All</button>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <p><button (click)="toggleSideNav()" style="height: 70px; margin-left: 800px;;width: 20px; font-size: 15px;text-align:center;padding: 0px; background-color: gray;">{{opened?'<':'>'}}</button></p> -->
  </mat-sidenav>
  <div class="example-sidenav-content">
    <p>
      <button
        (click)="toggleSideNav()"
        class="toggle"
        *ngIf="!opened && !hidden"
        style="
          position: fixed;
          height: 70px;
          width: 20px;
          font-size: 15px;
          text-align: center;
          padding: 0px;
          background-color: gray;
          z-index: 9999;
        "
      >
        {{ opened ? "<" : ">" }}
      </button>
      <button
        (click)="toggleSideNav()"
        class="toggle"
        *ngIf="opened && !hidden"
        style="
          height: 70px;
          margin-left: 400px;
          width: 20px;
          font-size: 15px;
          text-align: center;
          padding: 0px;
          background-color: gray;
        "
      >
        {{ opened ? "<" : ">" }}
      </button>
    </p>

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
