.example-tree-progress-bar {
    margin-left: 30px;
  }
  
button{
    background-color: transparent;
}

.mat-tree-node { height: 25px; }

form{
  padding: 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
input, button{
  border: none;
  text-align: center;
}

button{
  width: 15%;
}
input{
  width: 70%;
}
input:focus, button:focus{
  outline: none;
}


mat-tree{
  background-color: white;
  height: calc(100vh - 450px);
}